# leave empty if you only use public images
SKAFFOLD_DEMO_IMAGE_PULL_SECRET=ghcr
# leave empty if you only use public images
SKAFFOLD_DEMO_IMAGE_PULL_SECRET_SERVER=ghcr.io
# leave empty if you only use public images
SKAFFOLD_DEMO_IMAGE_PULL_SECRET_USERNAME=my-user
# leave empty if you only use public images
SKAFFOLD_DEMO_IMAGE_PULL_SECRET_PASSWORD=my-secure-password
SKAFFOLD_DEMO_SKIP_INGRESS_CONTROLLER_INSTALLATION=true
SKAFFOLD_DEMO_SKIP_SKAFFOLD_DEMO_INSTALLATION=false
SKAFFOLD_DEMO_BACKEND_HOST=backend.skaffold-demo.localhost
SKAFFOLD_DEMO_FRONTEND_HOST=frontend.skaffold-demo.localhost